<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Bistrô - Home</title>
</head>
<body>
    <header>
        <div class="menu-ativador">
            <input type="checkbox" id="lancador" />
            <label for="lancador">
              <span class="menu-ativador-linha"></span>
              <span class="menu-ativador-linha"></span>
              <span class="menu-ativador-linha"></span>
            </label>
        </div>
    </header>

    <div class="home-div">
        <h1 class="title">AURORA DO SUL</h1>
        <h2 class="sub-title">Cozinha Gaúcha, <br> a comida dos pampas</h2>
    </div>
</body>
</html>